body {
background: linear-gradient(to right, #f3e5f5 30%,#e0f7fa);
text-align: center;
}


h1, .tag {
    text-align: center;
    }


h1 {

font-family: 'Bangers' , cursive;
font-size: 2.5rem;
color: #004d4d;
border-bottom: 2px solid #4e860a;
margin: 10px auto;
padding: 10px;
max-width:fit-content;

}

.tag {

font-family: 'Bangers' , cursive;
font-size: 1rem;
margin-top: 10px;
padding: 0;
color: #228800;
line-height: 1.5;
}

.head1 {
font-size: 20px;
color: #057e54;
margin-top: 20px;
margin-bottom: 12px;
font-weight: bold;
text-transform: uppercase;
padding; 5px 0;

}

.info {
font-family: Merienda;
font-size: 0.9rem;
display: inline;
max-width: fit-content;
font-weight: 600;

}

input[type="text"],
input[type="email"],
input[type="number"] {
margin-top: 5px;
padding: 4px;
width: 30%
max-width: fit-content;
box-sizing: border-box;

}



fieldset {
border: 2px solid #cfcfcf;
border-radius: 8px;
max-width: 600px;
margin: 20px auto;
padding: 20px;
border-radius: 10px;
background-color: #f9f9f9;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}
.ques {
font-size: 1.3rem;
 
}

.lang {
    display: flex;
    flex-wrap: wrap;
   gap: 8px 16px;
  justify-content: center;
  max-width: 600px;
  margin: auto;
  
}
.lang label {
width: 130px;
display: flex;
align-items: center;

}
.soft-bold {
font-weight: 600;
font-size: 17px;
margin-top: 20px;
margin-bottom: 10px;
color: #333;
}
.submit {
  display: block;
  margin: 20px auto;
  background-color: #0a8754;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit:hover {
  background-color: #066f41;
}







